<div class="row">
    <div class="text-center mx-auto col-lg-10 col-md-8 col-sm-7">
        {{!-- Partial to display form for new comments --}}
        <form action="" id="comment-form">
            <label for="comment-form">NEW COMMENT</label>
            <div class="form-group">
                <textarea name="comment-form" id="comment" rows="3" class="form-control"></textarea>
                <div class="mt-2">
                    <button class="btn btn-dark" type="submit">Submit</button>
                </div>
            </div>
        </form>
        {{!-- Allow for JS to input error msg --}}
        <div id="comment-error"></div>
    </div>
</div>