<div class="d-flex align-items-center flex-column">
    <div class="card" style="width: 30rem;">
        {{!-- Partial to display form for new comments --}}
        <form action="" id="comment-form">
            <label for="comment-form">ADD NEW COMMENT</label>
            <div class="form-group">
                <textarea name="comment-form" id="comment" rows="3" class="form-control"></textarea>
                <div class="mt-2">
                    <button class="btn btn-dark" type="submit">Submit</button>
                </div>
            </div>
        </form>
        {{!-- Allow for JS to input error msg --}}
        <div id="comment-error"></div>
    </div>
</div>