<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Critter Clicker</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/image/logo.jpeg" width="80" height="80" class="d-inline-block align-top logo" alt="critter clicker logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-item nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    {{#if loggedIn}}
                        <button class="btn btn-sm btn-outline-secondary" type="button">Log out</button>
                    {{else}}
                        <a class="nav-item nav-link" href="/dashboard">Log in</a>
                    {{/if}}
                </li>
            </ul>
        </div>
    </nav>
</header>

<body>
    <main>
    {{{body}}}
    
<!-- Modal -->
    <div class="hidden custom-logout-modal d-flex justify-content-around">
        <div class = "card custom-modal-body" style="width: 25rem; height: 7rem;">
            <div class="card-body alert-content"></div>
            <button type="button" class="btn btn-outline-secondary" id="dismiss-modal">CLOSE</button>
        </div>
    </div>

    </main>
    {{#if loggedIn}}
        <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>