<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Critter Clicker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<header>
    <nav role="navigation" class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="/">
            <img src="/image/logo-banner.png" width="280" class="d-inline-block align-top logo" alt="critter clicker logo">
        </a>
        <div class="navbar-expand" id="navbarNav">
            <ul class="navbar-nav ml-3 row">
                <li class="nav-item active">
                    <a class="nav-item nav-link" href="/"><i class="bi bi-house"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/dashboard"><i class="bi bi-speedometer"></i> Dashboard</a>
                </li>
                <li class="nav-item">
                    <a href="/likes" class="nav-item nav-link"><i class="bi bi-star"></i> Most Liked</a>
                </li>
                <li class="nav-item">
                    {{#if logged_in}}
                        <button class="btn btn-sm btn-outline-secondary bg-white m-3" type="button" id="logout-button"><i class="bi bi-box-arrow-in-right"></i> Log out</button>
                    {{else}}
                        <a class="nav-item nav-link" href="/dashboard"><i class="bi bi-box-arrow-in-left"></i> Log in</a>
                    {{/if}}
                </li>
            </ul>
        </div>
    </nav>
</header>

<body>
    <main>
    {{{body}}}
    
<!-- Modal -->
    <div class="hidden custom-logout-modal d-flex justify-content-around">
        <div class = "card custom-modal-body" style="width: 25rem; height: 7rem;">
            <div class="card-body alert-content"></div>
            <button type="button" class="btn btn-outline-secondary" id="dismiss-modal">CLOSE</button>
        </div>
    </div>

    </main>
    {{#if logged_in}}
        <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>