<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<div class="d-flex justify-center">
    <div class="card" style="width: 40rem;">
        <div class="card-header">
            Add new post
        </div>
        <form class="d-flex flex-column card-body">
            <div class="form-group"></div>
                <img class="card-img-top" src="{{title}}" id="uploadedimage"><br>
                <button type="button" id="test_widget" class="btn btn-outline-primary cloudinary-button">Upload files</button><br>
                <select class="form-select" id="selectedCategory">
                    <option selected>Select the category</option>
                    {{#each categories as |element| }}
                    <option value="{{id}}">{{category}}</option>
                    {{/each}}
                </select><br>
                <button type="button" id="create-new-post" class="btn btn-outline-primary">Submit</button>
            </div>
        </form>
        
    </div>
</div>

<div class="hidden custom-login-modal d-flex justify-content-around">
    <div class = "card custom-modal-body" style="width: 25rem; height: 7rem;">
        <div class="card-body alert-content"></div>
        <button type="button" class="btn btn-outline-secondary" id="dismiss-modal">CLOSE</button>
    </div>
</div>

<script src="/js/upload.js"></script>