
    <div class="d-flex justify-content-around">
        <div class="card" style="width: 25rem;">
            <div class="card-header">
                Sign up
            </div>
            <form>
                <div class="form-group">
                    <label for="signup-username">Username</label>
                    <input type="password" class="form-control" id="signup-username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="signup-email">Email address</label>
                    <input type="email" class="form-control" id="signup-email" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                <label for="signup-password">Password</label>
                <input type="password" class="form-control" id="signup-password" placeholder="Password">
                </div>
                <button type="button" class="btn btn-outline-primary" id="signup-button">SIGN UP</button>
            </form>
        </div>
        <div class="card" style="width: 25rem;">
            <div class="card-header">
                Log in
            </div>
            <form>
                <div class="form-group">
                    <label for="login-email">Email address</label>
                    <input type="email" class="form-control" id="login-email" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                <label for="login-password">Password</label>
                <input type="password" class="form-control" id="login-password" placeholder="Password">
                </div>
                <button type="button" class="btn btn-outline-primary" id="login-button">LOG IN</button>
            </form>
        </div>
    </div>

<!-- Modal -->
    <div class="hidden custom-login-modal d-flex justify-content-around">
        <div class = "card custom-modal-body" style="width: 25rem; height: 7rem;">
            <div class="card-body alert-content"></div>
            <button type="button" class="btn btn-outline-secondary" id="dismiss-modal">CLOSE</button>
        </div>
    </div>


<script src="/js/login.js"></script>
