<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Critter Clicker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../public/css/jass.css">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="../public/image/logo.jpeg" width="80" height="80" class="d-inline-block align-top logo"
                alt="critter clicker logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-item nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    {{{#if loggedIn}}}
                    <button class="btn btn-sm btn-outline-secondary" type="button">Log out</button>
                    {{{else}}}
                    <a class="nav-item nav-link" href="/dashboard">Log in</a>
                    {{{/if}}}
                </li>
            </ul>
        </div>
    </nav>
</header>

<body>
    <main>

        <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
        <!-- <button id="upload_widget" class="cloudinary-button">Upload files</button> -->

        <!-- <button id="upload" class="cloudinary-button">Upload files</button>
        <script src="test.js"></script> -->

        <!-- <script type="text/javascript">

            var myWidget = cloudinary.createUploadWidget({
                cloudName: 'dacwtore8',
                uploadPreset: 'xkitthvf'
            }, (error, result) => {
                if (!error && result && result.event === "success") {
                    console.log('Done! Here is the image info: ', result.info);
                    console.log(result);
                    console.log(result.url);
                }
            }
            )

            document.getElementById("upload_widget").addEventListener("click", function () {
                myWidget.open();
            }, false);
        </script> -->

        <!-- <button id="test_widget" class="btn btn-outline-primary cloudinary-button">Upload files</button> -->
        
        
        <!-- Page content starts here -->
        <div class="d-flex justify-center">
    <div class="card" style="width: 25rem;">
        <div class="card-header">
            Add new post
        </div>
        <form class="d-flex flex-column">
            <button type="button" id="test_widget" class="btn btn-outline-primary cloudinary-button">Upload files</button>
            <div class="form-group">
                <select class="form-select">
                    <option selected>Select the category</option>
                    {{#each categories as |category| }}
                    <option value="{{name}}">{{name}}</option>
                    {{/each}}
                  </select>
            </div>
            <!-- <button type="button" class="btn btn-outline-primary cloudinary-button" id="test_widget">UPLOAD</button> -->
        </form>
        <img src="" id="uploadedimage"/>
    </div>
</div>

        <div class="hidden custom-login-modal d-flex justify-content-around">
            <div class="card custom-modal-body" style="width: 25rem; height: 7rem;">
                <div class="card-body alert-content"></div>
                <button type="button" class="btn btn-outline-secondary" id="dismiss-modal">CLOSE</button>
            </div>
        </div>

        <!-- Page content ends here -->
        <!-- Modal -->
        <div class="hidden custom-logout-modal d-flex justify-content-around">
            <div class="card custom-modal-body" style="width: 25rem; height: 7rem;">
                <div class="card-body alert-content"></div>
                <button type="button" class="btn btn-outline-secondary" id="dismiss-modal">CLOSE</button>
            </div>
        </div>

    </main>

    <script src="test.js"></script>
    <script src="../public/js/like-nosignin.js"></script>
</body>

</html>